.skillsButton {
    background: rgb(171, 91, 182);
    border: none;
    height: 100px;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding-top: 15px;
 
    
}

.skillsHeader {
    color: white;
    background: rgb(171, 91, 182);
    border-radius: 0px;
}

.skillsBtn {
    color: white;
    background: rgb(171, 91, 182);
}

@media screen and (max-width: 375px) {

    h5{
        font-size: 13px;
    }

  }