
.educationBox {
    
    background: #00cc99;
    color: white;
    background-position: left center;
    height: 150%;
    width:  100%;
    float: left;
    padding-left: 10px;
   
    /* #00b386 */
}


.educationTitle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;

}



.schools {
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.txstate {
    margin-top: 5px;
}

.tt {
    margin-top: 5px;
}

