.personalInfoBox {
  
    /* background-image: url(http://i65.tinypic.com/2iuxptx.jpg);
    background-size: cover; */
    background-position: left center;
    height: 100%;
    width:  100%;
    float: left;
    overflow: hidden;

}

