.boxesBox {
    /* border: 1px solid red; */
    height: 300px;
    width:  185px;
    float: left;
    
    padding-right:0;
    padding-left:0;
    position: relative;
}

.topBox {
    height: 50%;
    width:  100%;
    /* border-bottom: 1px solid red; */
    background: rgb(48, 45, 45);
    color: white;
    text-align: center;
    padding-top: 50px;
}

.bottomBox {
    height: 50%;
    width:  100%;
    background: rgb(36, 33, 33);
    color: white;
    text-align: center;
    padding-top: 50px;
}



