

.portfolioDisplay {
   
    height: 500px;
    width:  300px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* box-shadow: 0px -2px 2px rgba(34,34,34,0.6); */
    background-image: url("https://austingwalker.github.io/Portfolio/assets/images/portfolio_water_color.jpg"); 
    background-size: 300px 200px;
    background-repeat: no-repeat;
    background-position: bottom;

}

.noGutters {
    padding-left: 0px;
    padding-right: 0px;
}

u {
    text-decoration: underline;
}

p {
    margin: 2px;
    
}

a {
    color: black;
}

@media screen and (max-width: 375px) {

    .card {
        margin-left: 0px;
    }

    .portfolioDisplay {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
       
    
    }

    

  }