.resumeBox {
    background: #ff6600;
    color: white;
    background-position: left center;
    height: 100%;
    width:  100%;
    float: left;
    border-right: 1px solid gray;
    padding-top: 25px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

