body {
    background-image: url("https://austingwalker.github.io/Portfolio/assets/images/portfolio_topography.png");
    background-position: right;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.contentTitleRow {
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid gray;
}

.contentTitle {
    color: gray;
}



.noGuttersP {
    padding: 10px;
    /* padding-left: 0px;
    padding-right: 0px; */
    /* align-content: center;
     */
}

.proCol{
    width: 50%;
}

@media screen and (max-width: 375px) {
    .containerBox {
        padding: 0px;
        margin: 0px;
    
    }

    h5{
        font-size: 10px;
    }

  }

