body {
    background-image: url(http://i63.tinypic.com/2vsjn7t.jpg);
    background-position: right;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* .containerBox {
    
    
}

.noGutters {
    padding-left: 0px;
    padding-right: 0px;
} */

.noGuttersP {
    padding-left: 0px;
    padding-right: 0px;
    align-content: center;
    
}

/* .noGuttersEX {
    padding-left: 0px;
    padding-right: 0px;
    height: 264px;
    
}

.noGuttersED {
    padding-left: 0px;
    padding-right: 0px;
    height: 264px;
    
} */


/* .modalBox {
    background: rgb(36, 33, 33);
    border: 1px solid gray;
    border-radius: 8px;
    align-items: center;
    margin-top: 20px;
    
    padding: 20px;
    
}

.modalRowOne {
    text-align: center;
} */

