body {
    background-image: url(/assets/images/portfolio_topography.png);
    background-position: right;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}



.noGuttersP {
    padding-left: 0px;
    padding-right: 0px;
    align-content: center;
    
}

@media screen and (max-width: 375px) {
    .containerBox {
        padding: 0px;
        margin: 0px;
    
    }

    h5{
        font-size: 10px;
    }

  }

