body {
    background-image: url(http://i63.tinypic.com/2vsjn7t.jpg);
    background-position: right;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.containerBox {
    
    
    /* topography = http://i63.tinypic.com/2vsjn7t.jpg */
    /* color wall = http://i68.tinypic.com/16k3sr7.jpg*/
}

.noGutters {
    padding-left: 0px;
    padding-right: 0px;
}

.noGuttersP {
    padding-left: 10px;
    padding-right: 10px;
    
}

.noGuttersEX {
    padding-left: 0px;
    padding-right: 0px;
    height: 264px;
    
}

.noGuttersED {
    padding-left: 0px;
    padding-right: 0px;
    height: 264px;
    
}


.modalBox {
    background: rgb(36, 33, 33);
    border: 1px solid gray;
    border-radius: 8px;
    align-items: center;
    margin-top: 20px;
    
    padding: 20px;
    
}

.modalRowOne {
    text-align: center;
}

/* color star - http://i68.tinypic.com/1zyk80h.jpg */

/* colo brickwall - http://i68.tinypic.com/16k3sr7.jpg */

/* topography - http://i63.tinypic.com/2vsjn7t.jpg */

/* brickwall - http://i68.tinypic.com/ndedy.jpg */