.containerBox {
    position: absolute;
}

.noGutters {
    padding-left: 0px;
    padding-right: 0px;
}

.noGuttersP {
    padding-left: 10px;
    padding-right: 10px;
    
}

.noGuttersEX {
    padding-left: 0px;
    padding-right: 0px;
    height: 264px;
    
}

.noGuttersED {
    padding-left: 0px;
    padding-right: 0px;
    height: 264px;
    
}

.portfolioRow {
    background-image: url(http://i63.tinypic.com/2vsjn7t.jpg);
    /* background-size: cover; */
    background-position: right;
}

.modalBox {
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 20px;
    height: 80%;
    padding: 20px;
}

/* color star - http://i68.tinypic.com/1zyk80h.jpg */

/* colo brickwall - http://i68.tinypic.com/16k3sr7.jpg */

/* topography - http://i63.tinypic.com/2vsjn7t.jpg */

/* brickwall - http://i68.tinypic.com/ndedy.jpg */