.navRowOne {

    color: white;
    background: rgb(36, 33, 33);
    /* background: rgb(56, 53, 53); */
    height: 100px;
    
   
    
   
   
}

.navRowTwo {
    
    color: white;
    background: rgb(36, 33, 33);
    height: 100px;

   
}

.navContainer {
    background-color: transparent;
    margin: 10px;
}


.linkedIn {
    color: white;
    /* background: rgb(36, 33, 33); */
    margin: 0px;
    padding: 0px;
    border-radius: 0;
    width: 100%;
    height: 100px;
}

.linkedIn:hover {
    background-color: rgb(83, 83, 83);
}

.github:hover {
    background-color: rgb(83, 83, 83);
}



.fab:hover{
    color: white;
}

.logoTitle:hover{
    color: white;
}

.github {
    color: white;
    border-radius: 0;
    margin: 0px;
    padding: 0px;
    background-color: rgb(36, 33, 33);
    width: 100%;
    height: 100px;
}

.logo {
    color: white;
}

logo:hover{
    color: white;
}

fabTwo:hover {
color:white;
}




.austinW {
    
    font-size: 40px;
    margin: 0px;
    padding: 20px;
    padding-left: 30px;
}

.title {
    font-size: 30px;
    margin: 0px;
    padding: 20px;
    padding-left: 30px;
}

.modalBtnRow {
    width: 25%;
    margin: 0px;
    padding: 0px;

}

/* .modalNav {
    width: 100%
} */



/* .modalRow {
    width: 100%;
    float: left;
}  */

.colRows {
    background-color: rgb(36, 33, 33);
    
   
}

.profilePicColOutside {
   
    margin: 0px;
    padding: 0px;
}

.profilePicColInside {
   
    margin: 0px;
    padding: 0px;
      background-image: url("http://i63.tinypic.com/2ef82aa.jpg");
      background-size: cover;
      z-index: 10;
     
}

.profilePic {
    opacity: 0;
}

.headshot {
    height: 300px;
    width: 375px;
}

.modalRowOne {
    padding: 0px;
    float: left;
}

.modalRowTwo {
    padding: 0px;
    float: left;
}

@media screen and (max-width: 414px) {
    /* The body's bg color will be #333 */
    .navContainer {
        width: 100%;
        margin: 0px;
    }

    
    .austinW {
        
        font-size: 40px;
        padding: 35px;
    }

    .title {
        font-size: 25px;
        padding: 35px;
    }

    /* .modalRowOne {
        width: 500px;
    }
    
    .modalRowTwo {
        width: 376px;
    } */

    

  }