.jumbotron {
  margin-top: 0px; 
 background: rgb(36, 33, 33); 
color: black;
 height: 300px;
 position:relative;
 top: 20px;
 left: 0;
 border-radius: 0px;
 /* border-radius: 25px; */
 /* opacity: .5  */

 
 /* background: url(http://i63.tinypic.com/2vsjn7t.jpg) */
 
}

.jumboRow {
  position:absolute;
  top: 0;
  left: 0;
  
 
} 

.headshot {

  margin-right: 0;
  padding: 0;
  height: 300px; 
  width: 300px;
  
  /* position: relative;
  top: 20px;
  left: 70px; */
  z-index: 1;
  
  
}



/* .headshot {
  border: 5px ridge white;
  margin-right: 0;
  padding: 0;
  height: 260px; 
  width: 260px;
  
  position: relative;
  top: 20px;
  left: 70px;
  z-index: 1;
  
  
} */

.nameAndTitle {
  width: 460px;
  color: white;
  margin-left: 0px;;
  margin-top: 150px;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
 
}

.linkButtons {
  position: relative;
  top: 5px;
  right: 10;
  left: 375px;
  z-index: 0;
}

hr {

  border-color: white;
}

.linkedIn {
  background: rgb(36, 33, 33);
  border: none;
  height: 100px;
  width: 100px;
  margin-right: 0px;
  margin-bottom: 80px;
  margin-top: 10px;
  margin-left: 17.5px;
  border-radius: 0px;
 
 
}

.gitHub {
  background: rgb(36, 33, 33);
  border: none;
  height: 100px;
  width: 100px;
  margin-right: 0px;
  margin-left: 17.5px;
  border-radius: 0px;
 
 
}



