.resumeBox {
    /* text-align: center */
   
}

.resumeButton {
    background: #ff6600;
    border: none;
    height: 100px;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding-top: 15px;
   
}

/* .resumeButton {
    background: #ff6600;
    border: none;
    height: 100px;
    width: 100px;
    margin-right: 0px;
    margin-left: 17.5px;
    border-radius: 0px;
    padding-top: 15px;
    float:left;
} */