.resumeButton {
    background: #ff6600;
    border: none;
    height: 100px;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding-top: 15px;
 
}

.resumeHeader {
    color: white;
    background: #ff6600;
    border-radius: 0px;
}

.resumeBtn {
    color: white;
    background: #ff6600;
}

iframe {
    width: 100%;
    height: 1000px;
}

@media screen and (max-width: 375px) {
    .containerBox {
        padding: 0px;
        margin: 0px;
    
    }

    iframe {
        /* width: 250px; */
        height: 100%;
        width: 100%;
    }

    .iframeBox {
        position: fixed; 
        /* right: 0; 
        bottom: 0; 
        left: 0;
        top: 0; */
          -webkit-overflow-scrolling: touch;
          overflow-y: scroll;
          height: 100%;
          width: 100%;
    }
  

  }