.resumeButton {
    background: #ff6600;
    border: none;
    height: 100px;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding-top: 15px;
 
}

.resumeHeader {
    color: white;
    background: #ff6600;
    border-radius: 0px;
}

.resumeBtn {
    color: white;
    background: #ff6600;
}