.footerBox {
  /* border: 1px solid gray; */
  margin-left: 10px;
  margin-right: 10px;;
  text-align: center;
  padding: 20px;
  background: rgb(22, 20, 20);
  /* border-radius: 8px; */

}

#footerText{
  color: white;
}